<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".FindpwActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".NoticeviewActivity"
            android:exported="false" />
        <activity
            android:name=".SendEmailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false"
            android:parentActivityName=".IntegratedActivity" />
        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:parentActivityName=".IntegratedActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".ScheduleEdit"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBurBtHYVjmxlrEPD1OkZvEr9V4YAK5fRo" />

        <activity
            android:name=".IntegratedActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WriteActivity"
            android:exported="false"
            android:parentActivityName=".NoticeActivity" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false"
            android:parentActivityName=".IntegratedActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".SendEmailActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>